*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

#logo-image{
    margin-left: 4vw;
}

#input-container input{
    width: 30vw;
    height: 7vh;
    border: none;
    outline: none;
    background-color: azure;
    border-radius: 5px;
    padding-left: 10px;
}

#input-container i{
    margin-left: -30px;
}

#cart-container {
    width: 30vw;
}

#cart-redirections{
    gap: 2vw;
    display: flex;
    width: 20vw;
    align-items: center;
}

#cart-redirections a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 93, 93);
}

#cart-redirections button{
    width: 10vw;
    height: 6vh;
    background-color: #C92071;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#cart-container i{
    color: #C92071;
    font-size: 18px;
}